<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trainer's services</title>
</head>
{% include 'menu.html' %}
<body>
  <h1>Hi there! </h1>
  <p>My username is: <b><i>{{ about_trainer.trainer.username }}</i></b></p>
  <p>About me: <i>{{ about_trainer.text}}</i></p>
  {% if services %}
      <p>There are services I provide:</p>
      <table>
      <thead>
        <tr>
            <td> Name </td>
            <td> Level </td>
            <td> Duration </td>
            <td> Price </td>
        </tr>
      </thead>
      {% for each_service in services %}
          <tr>
            <td>{{ each_service.category.name }}</td>
            <td>{{ each_service.level }}</td>
            <td>{{ each_service.duration }}</td>
            <td>{{ each_service.price }}</td>
              <td><a href="/trainer/{{ each_service.trainer.id }}/{{ each_service.id }}"> << book now!  </a></td>
          </tr>
      {% endfor %}
      </table>
  {% endif %}
  <br>
</body>
</html>